* {
    margin: 0;yed
    padding:0;
}

@font-face { 
  font-family: "Antonio";
 src: url(fonts/Antonio-Light.ttf);

}
    .logo{
  font-family:'Antonio', sans-serif;
  font-style: normal; 
 }
  body {font-family: Arial;
 
}


.title {
    color:#7C618F;
    margin-top: 150px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 300;
     font-size: 36pt;
     line-height: 40pt;
     background: none;
     text-align: center;
}

.even-columns  {
  display: flex;
}
.even-columns {
  flex-basis: 100%;
}


.pdf h3 {color: #AD9C7F;
    text-decoration: none;
}
 @media print { 
  *{
     background: transparent !important;
     color: #000 !important;    
} 
@page{
     margin: 1in;
}
.logo{
     margin:0;
     text-align: center;
}

nav,
img,
a,
.nav-toggle-label,
footer a { 
   display: none;
}
body {
     margin-top: 10px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16pt;
     line-height: 18pt;
     background: none;
     text-align: left;
}


}
 }
