h1 {color:#7C618F;
    padding-left: 75px;
}
a {  color: #AD9C7F;
    text-decoration: none;
}
nav { float: right
}
nav ul li{ display: inline-block;
    text-decoration: none;
    padding-left: 100px;
    padding-right: 100px;
}
nav ul{
    list-style-type: none;
     padding-left: 100px;  
     text-align: center;
 }
 footer ul li { display: inline-block;
    text-decoration: none;
    padding-left: 40px; 
 }
footer ul{
    list-style-type: none;
     text-align: center;
 }
h2 {color:#7C618F;
    margin-left: 500px;
}
body {font-family: Arial, Helvetica, sans-serif;
}
footer {color: #7C618F;
}