h1 {color:#7C618F;
}
h1 {
  margin-top: 10px;
  margin-right: 150px;
  margin-left: 50px;
}
ul{
    list-style-type: none;
}
 ul li{
     display: inline;
     padding: 25px;   
 }
h2 {color:#7C618F
}
h2 {
    margin-left: 300px;
}
body {font-family: Arial, Helvetica, sans-serif;
}
footer {color: #7C618F;
}
footer {
    margin-right: 150px;
    margin-left: 50px;
}